nav {
  background-image: linear-gradient(rgb(0, 0, 0), #141414);
  padding: 20px 50px;
}

.App {
  min-height: 100vh;
  background-color: #141414;

}
.Container{
  margin: auto;
  padding-top: 150px;
  min-width: 70%;
  /* background-color: green; */
  text-align: center;
}

h1{
  color: #fff;
}
.Row{
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: auto;
}